div{
	width: 27%;
	height: 25px; 
	padding-left:20px;
	padding-bottom: 100px;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 30px;
	font-family: Arial;
	margin-right: 15px;
	display:inline-block;
	margin-left: 15px;
	}
.red{background-color: red;
	}
.yellow{background-color: yellow;
		font-family: Arial;
		}